<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/2389/PNG/512/flask_logo_icon_145276.png" type="image/x-icon">
    <title>PyBlog</title>
</head>
<body>
    <header class="main-head">
        <nav>
            <h1 id="logo">PyBlog</h1>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('add') }}">Agregar</a></li>
            </ul>            
        </nav>
    </header>

    {% block body %}
    {% endblock %}

</body>
</html>